* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #07d4f8;
}

section h1 {
  text-shadow: 2px 5px 5px #2f3542;
  word-spacing: 10px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}
.centerDiv {
  width: 60%;
  height: 450px;
  box-shadow: 2px 2px 2px 5px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0a0a0a;
  color: white;
}

.details {
  text-align: center;
  text-transform: uppercase;
}

.details label {
  font-size: 1.4rem;
}
.details input {
  padding: 10px;
  background-color: #ff6b81;
  color: white;
  text-align: center;
}
.details input[type="text"]:focus {
  border: 3px solid rgb(16, 221, 43);
}

.imgdiv {
  margin: 30px 0;
}

button {
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  border-radius: 3px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: darken(#f1c40f, 20%);
}

button:hover {
  cursor: pointer;
}
